<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient List</title>
    <link rel="stylesheet" href="/stylesheets/physician/extpatient.css">
</head>
<body>
    <div id='search-panel'>
        <!--Search Input (I know what you are trying to do here, but just leave the fanncy stuff to the end-->
        <form method="POST"action="patient_search/patients_ii">
            <label>Patient's Last Name:</label>
            <input type='text'id='patient_lastname'name='patient_lastname'>
            <label>Patient's First Name:</label>
            <input type='text'id='patient_firstname'name='patient_firstname'>
            <label>Patient ID:</label>
            <input type='text'id='patient_id'name='patient_id'>
            <button type='submit'>Search</button>
        </form>
    </div>
    <div id='search-display'>
        <h1>Search Display</h1>
        <!--The search results are shown here-->
    </div>
    <div id='recent-panel'>
        <!--Down below display the list of existing patients-->
        <div id='record-container'>
            <h1>Record</h1>
            <div id='record-column'>
                Here will see the recent records, up to 5
            </div>
        </div>
    </div>
    
</body>
</html>