<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Past Records</title>
    <link rel="stylesheet" href="/stylesheets/extrecord.css">
</head>
<body>
    <!--  -->
    <div id='record-container'>
    <% record.forEach(i=>{ %>
        <div id='record-row'>
            <a href="/physician/loggedin/200/patient_search/patients_ii/update/<%=i.record_id %>"><%= i.record_id %> View and Update</a><br>
        </div>
    <% }) %>
    </div>
</body>
</html>