<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physician</title>
    <link rel='stylesheet'href='/stylesheets/physician/loggedin.css'>
</head>
<body>
    <div id="doc-id">
        <p>Dr.<%= lastname %>, <%= firstname %></p>
        <p>User ID: <%= docid %> </p>
    </div>
    <div id='selection-container'>
        <a href="/physician/loggedin/200/new_patient">New Patient</a>
        <a href="/physician/loggedin/200/patient_search">Existing Patient</a>
    </div>
</body>
</html>