<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physician Registration/Login</title>
    <link rel='stylesheet'href='/stylesheets/physician/login.css'>
    <script>
    //character count to prevent over capacity input
    //click on the input box --> count appears ; click somewhere else --> count disappears
    //type in --> number goes down
        function wordCount(){
            let limit = 25;
            const word_count = document.getElementById('user_name');
            const word_length = word_count.value.length;
            word_count.addEventListener('keyup',()=>{
                let count_text = document.querySelector('.word-count')
                if(word_length===0){
                    count_text.style.color = 'black';
                    count_text.style.fontWeight = 'normal';
                    count_text.innerHTML = 'Remaining characters: 25'
                }else if(word_length>0&&word_length<=25){
                    count_text.style.color = 'black';
                    count_text.style.fontWeight = 'normal';
                    count_text.innerHTML = 'Remaining characters: '+(limit-word_length).toString();
                }else{
                    count_text.style.color = 'red';
                    count_text.style.fontWeight = 'bold';
                    count_text.innerHTML = 'CHARACTER LIMIT REACHED';
                }
            })
        }

        function registerValidation(){
            const user_name = document.getElementById('user_name').value
            const user_email = document.getElementById('user_email').value
            const first_name = document.getElementById('first_name').value
            const last_name = document.getElementById('last_name').value
            const password_1 = document.getElementById('password_1').value
            const password_2 = document.getElementById('password_2').value

    //we will leave the creating password part later, because it is such a pain in the ass
            if (user_name==="" || user_email==="" || first_name==="" || last_name===""|| password_1===""|| password_2===""){
                alert("Information Missing for Required Entries")
                console.log("1 Worked!")
                return false
            }

            else if (password_1!==password_2){
                alert("Please make sure the passwords matched")
                return false
            }
        }

        function loginValidation (){
            const user_name = document.getElementById('user_name_login').value
            const password = document.getElementById('password_login').value
            if (user_name===""|| password===""){
                console.log("2 Worked!")
                alert("Login Information Missing")
                return false
            }
        }
    </script>
</head>

<body>
    <h1>Doctor</h1>
    <!--physician route-->
    <div id='reg-log'>
    <div id="doc-reg">
        <h3>Registration</h3>
        <div class='form-container'>
            <form class='fillin-form'method='POST'onsubmit="return registerValidation()"action="/physician/accountcreated">
                <label>Username:</label>
                <p class='word-count'></p>
                <input type="text" id="user_name"oninput='wordCount()'name="user_name">
                
                <label>Email:</label>
                <input type="email" id="user_email"oninput='wordCount()'name="user_email">
                <label>Type in First Name:</label>
                <input type="text" id="first_name"oninput='wordCount()'name="first_name">
                <label>Type in Last Name:</label>
                <input type="text" id="last_name"oninput='wordCount()'name="last_name">
                <label>Create your password:</label>
                <input type="password" id='password_1'oninput='wordCount()'name='password_1'>
                <label>Confirm your password:</label>
                <input type="password" id='password_2'oninput='wordCount()'name='password_2'>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>

    <div id="doc-login">
    <h3>Login</h3>
        <!--'POST' request, so that username and password aren't displayed in the URL-->
        <div class='form-container'>
            <form class='fillin-form' method='POST'onsubmit="return loginValidation()"action="/physician/loggedin">
                <label>Username:</label>
                <input type='text'id='user_name_login'name='user_name_login'>
                <label>Password:</label>
                <input type='password'id='password_login'name='password_login'>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
    <!--R: Complete front end code which will ensure the two sets of password input match-->
</div>
</body>

</html>