<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physician Registration/Login</title>
    <script>
        function registerValidation(){
            const user_name = document.getElementById('user_name').value
            const user_email = document.getElementById('user_email').value
            const first_name = document.getElementById('first_name').value
            const last_name = document.getElementById('last_name').value
            const password_1 = document.getElementById('password_1').value
            const password_2 = document.getElementById('password_2').value

    //we will leave the creating password part later, because it is such a pain in the ass

            if (user_name==="" || user_email==="" || first_name==="" || last_name===""|| password_1===""|| password_2===""){
                alert("Information Missing for Required Entries")
                console.log("1 Worked!")
                return false
            }

            else if (password_1!==password_2){
                alert("Please make sure the passwords matched")
                return false
            }
        }

        function loginValidation (){
            const user_name = document.getElementById('user_name_login').value
            const password = document.getElementById('password_login').value

            if (user_name===""|| password===""){
                console.log("2 Worked!")
                alert("Login Information Missing")
                return false
            }
        }
    </script>
</head>

<body>
    <h1>Doctor</h1>
    <!--physician route-->
    <div id="doc_reg">
        <h3>Registration</h3>
        <form method='POST'onsubmit="return registerValidation()"action="/physician/accountcreated">
            <label>Username:</label>
            <input type="text" id="user_name" name="user_name">
            <label>Email:</label>
            <input type="email" id="user_email" name="user_email">
            <label>Type in First Name:</label>
            <input type="text" id="first_name" name="first_name">
            <label>Type in Last Name:</label>
            <input type="text" id="last_name" name="last_name">
            <label>Create your password:</label>
            <input type="text" id='password_1' name='password_1'>
            <label>Confirm your password:</label>
            <input type="text" id='password_2' name='password_2'>
            <button type="submit">Register</button>
        </form>
    </div>

    <div id="doc_login">
    <h3>Login</h3>
        <!--'POST' request, so that username and password aren't displayed in the URL-->
        <form method='POST'onsubmit="return loginValidation()"action="/physician/loggedin">
            <label>Username:</label>
            <input type='text'id='user_name_login'name='user_name_login'>
            <label>Password:</label>
            <input type='text'id='password_login'name='password_login'>
            <button type="submit">Login</button>
        </form>
    </div>
    <!--R: Complete front end code which will ensure the two sets of password input match-->
</body>

</html>