<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/physician/newpatient.css">
    <title>New Patient</title>
</head>
<body>
    <div id='form-container'>
        <h3>Creating a New Record</h3>
        <form method='POST'action='new_patient/patient_info'>
            <p>Patient's Information</p>
            <label>First Name:</label>
            <input type='text'id="patient_firstname"name="patient_firstname"required>
            <label>Last Name:</label>
            <input type='text'id="patient_lastname"name="patient_lastname"required>
            <label>Create a Patient ID:</label>
            <input type='text'id="patientid_1"name="patientid_1"required>
            <label>Confirm Patient ID:</label>
            <input type='text'id="patientid_2"name="patientid_2"required>
            <label>Patient's email</label>
            <input type='email'id='patient_email'name='patient_email'required>
            <label>Year of Birth:</label>
            <input type='date'id="patient_birthday"name="patient_birthday"required>
            <button type='submit'>Create</button>
        </form>
    </div>
</body>
</html>