<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/physician/newrecord.css">
    <title>New Patient Report</title>
</head>
<body>
    <div id='date-time'>
        <p id='date-time-text'></p>
    </div>

    <div id='chat-UI'>
        <div id='chat-screen'>
        </div>
        <div id=chat-input>
            <input id='chat-typing'type='text'></input>
            <div id='chat-submit'>Submit</div>
        </div>

        <div id='chat-button'>
            <p>Chat Bar</p>
        </div>
    </div>
    

    <div id='camera-container'>
    </div>

    <div id='form-container'>
        <form id='form-body'method="POST"action="/physician/loggedin/200/patient_search/diagnosiscreated">
            <label>File ID:</label>
            <p id='file_id'name='file_id'><%=record_id%></p>
            <label>Category:</label>
            <input type="text"id='record_category'name='record_category'><br>
            <label>Latest PSA Index:</label>
            <input type="text"id='psa_index'name='psa_index'onchange="redLine()"><br>
            <label>Urination Frequency (1-5):</label>
            <input type="text"id='urnine_freq'name='urine_freq'><br>
            <label>Urine Blood (0-3):</label>
            <input type="text"id='urnine_blood'name='urine_blood'><br>
            <label>Family History:</label>
            <input type="text"id='fam_line'name='fam_line'><br>
            <label>Other details with regard to<br>the current symptom:</label>
            <textarea id='dia_summary'name='dia_summary'oninput='characterLimit()'></textarea>
            <p id='word_count'>300</p>
            <button type="submit">Create a Record</button>
        </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>

        const chat_bar = document.getElementById('chat-button');
        const chat_screen = document.getElementById('chat-screen');
        const chat_typing = document.getElementById('chat-typing');
        const chat_submit = document.getElementById('chat-submit')

        chat_bar.addEventListener('click',()=>{
            if(chat_screen.style.display==='none'){
                chat_screen.style.display = 'block';
                chat_typing.style.display = 'block';
                chat_submit.style.display = 'block';
            }else{
                chat_screen.style.display = 'none';
                chat_typing.style.display = 'none';
                chat_submit.style.display = 'none';
            }
        })

        var socket = io(); 
        socket.emit('entry',data);
    </script>
</body>
</html>