<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Patient Report</title>
    <script>
        function redLine(){
            const psa = document.getElementById('psa-index')
            if(psa.value===""||psa.value<4.1){
                psa.style.color='black'
            }

            else if (psa.value>=4.1){
                psa.style.color = 'red'
            }
        }
    </script>
</head>
<body>
    <!--Create an inclue tag, so that you dont have to repetively create patient's name-->
    <!--<%include %> Figure out this later--> 
    <div id='date-time'>
        <p id='date-time-text'></p>
    </div>
    <div id='form-container'>
        <form method="POST"action="">
            <label>File ID:</label>
            <input type="text"value="<%=record_id%>"disabled>
            <label>Category:</label>
            <input type="text"id='record-category'name='record-category'><br>
            <label>Urination Frequency (1-5):</label>
            <input type="number"id='urnine-freq'name='urine-freq'><br>
            <label>Urine Blood (0-3):</label>
            <input type="number"id='urnine-blood'name='urine-blood'><br>
            <label>Family History:</label>
            <input type="text"id='fam-line'name='fam-line'><br>
            <label>Latest PSA Index:</label>
            <input type="number"id='psa-index'name='psa-index'onchange="redLine()"><br>
            <label>Other details with regard to the current symptom:</label>
            <textarea id='dia-summary'name='dia-summary'></textarea>
            <button type="submit">Create a Record</button>
        </form>
    </div>
</body>
</html>