<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Patient Report</title>
    <script>
        function redLine(){
            const psa = document.getElementById('psa-index')
            if(psa.value===""||psa.value<4.1){
                psa.style.color='black'
            }

            else if (psa.value>=4.1){
                psa.style.color = 'red'
            }
        }
    </script>
</head>
<body>
    <!--Create an inclue tag, so that you dont have to repetively create patient's name-->
    <!--<%include %> Figure out this later--> 
    <div id='date-time'>
        <p id='date-time-text'></p>
    </div>
    <div id='form-container'>
        <form method="POST"action="record_added">

            <label>File ID:</label>
            <input type="text"id='file_id'name='file_id'value="<%=record_id%>"disabled>
            <label>Category:</label>
            <input type="text"id='record_category'name='record_category'><br>
            <label>Latest PSA Index:</label>
            <input type="text"id='psa_index'name='psa_index'onchange="redLine()"><br>
            <label>Urination Frequency (1-5):</label>
            <input type="text"id='urnine_freq'name='urine_freq'><br>
            <label>Urine Blood (0-3):</label>
            <input type="text"id='urnine_blood'name='urine_blood'><br>
            <label>Family History:</label>
            <input type="text"id='fam_line'name='fam_line'><br>
            <label>Other details with regard to the current symptom:</label>
            <textarea id='dia_summary'name='dia_summary'></textarea>

            <!-- <p id='word-count'>300</p> -->
            <button type="submit">Create a Record</button>
        </form>
    </div>
</body>
</html>