<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <div id='patient-info'>
        <p>You are in <%- patientlastname  %>, <%- patientfirstname  %> 's portfolio</p>
    </div>

    <div id='record-container'>
        <h1>Record</h1>
        <div id='record-column'>
            Here will see the recent records, up to 5
        </div>
    </div>
    
</body>
</html>