<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>

    <div id='patient-info'>
        <p>Patient Name : <%= patientfirstname  %><%= patientlastname  %></p>
        <p>Patient Age: <%= patientage %></p>
    </div>

    <div id='selection'>
        <a href="patients_ii/newrecord">Create a New Record</a><br>
        <a href="">Existing Record Update & Follow-up</a>
    </div>

    <div id='diag-record'>

    </div>

</body>
</html>