<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <h2>The Diagnosis Has Been Created in the Database</h2>
    <a href="patients_ii/">Patient Panel</a>
</body>
</html>