<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <div id='title-container'>
        <h1>Physicians to Patients</h1>
            <div id='selection-bar'>
                <a href="/physician">Physician</a>
                <a href="/patient">Patient</a>
            </div>
    </div>
</body>
</html>