#doc-id p{
    text-align:center;
}


#selection-container{
    display:flex;
    flex-direction: column;
    text-align: center;
    width:40rem;
    margin-left:auto;
    margin-right:auto;
    background-color: rgb(132, 201, 241);
}

#selection-container a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    
    width:10rem;
    margin-left:auto;
    margin-right:auto;
    margin-top:2rem;
    margin-bottom:2rem;

    border:rgb(49, 49, 49) 2.5px solid;
    background-color:rgb(224, 224, 224);
    color:black;
}

#selection-container a:hover{
    color:white;
    border:2px rgb(224, 224, 224) solid;
    background-color:rgb(65, 65, 65);
}