#diagnosis_summary {
    border:2.5px solid rgb(0, 217, 255);
}

#prev_message {
    border:2.5px,solid,rgb(15, 15, 15);
    margin-top: 2.5rem;
    border:2.5px solid rgb(0, 255, 13);
}

#record_update {
    margin-top: 2.5rem;
    border:2.5px solid rgb(179, 179, 179);
}